/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
/* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

/* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
     /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up body */
.body {
  font-size: var(--fs-400);
  color: hsl( var(--clr-white) );
  background-color: hsl( var(--clr-dark) );
  line-height: 1.5;
  min-height: 100vh;
  padding-top: 5%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.image {
  max-width: 100%;
  display: block;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* navbar underline */

nav div a {
  text-transform: uppercase;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0);
  padding-inline: 2rem;
}

nav div a:hover,
nav div a:focus {
  background-color: hsl( var(--clr-white) / .9 );
  color: hsl( var(--clr-dark) / .6 );
  border-bottom: .2rem solid hsl( var(--clr-white) / .5);
  border-radius: 18px;
  padding-inline: 2rem;
}

nav div a:active {
  border-bottom: .2rem solid hsl( var(--clr-white) / 1);
}

nav div div a {
  color: hsl( var(--clr-white) / 1);
}

.faIcons {
  color: white; 
  margin-right: .5em;
  padding: .5em;
  border-radius: 5px;
}

/* homepage */

.homepage {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-inline: 5em;
}

.homepage > div {
  display: flex;
  flex-direction: column;
  max-width: 10em;
  width: 100%;
}

.homepage > h1 {
  font-size: var(--fs-900);
  text-align: right;
  margin-top: 1.6em;
  padding-left: 0;
  padding-right: .5em;
}

.homepage > div > h4 {
  font-size: var(--fs-600);
  text-align: right;
  margin-top: 5em;
  margin-bottom: 8em;
}

/* ABOUT */

.aboutSection h1, .techSection h1, .eduSection h1 {
  font-size: var(--fs-700);
  margin-top: 1em;
}

/* profile section */

.aboutSection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-inline: 5em;
  padding-top: 3em;
}

.aboutSection p:where(:first-child) {
  font-size: var(--fs-600);
  margin-left: 10em;
  font-weight: bold;
  margin-bottom: .8em;
  text-align: justify;
}

.aboutSection p:where(:not(:first-child)) {
  font-size: var(--fs-400);
  margin-left: 21em;
  margin-bottom: .5em;
  text-align: justify;
}

/* techs section */

.techSection, .eduSection {
  width: 100vw;
  height: 100vh;
  padding-inline: 5em;
}

.techSection > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: var(--gap, 2em);
  margin-left: 16em;
  padding: 1em;
  border: 1px solid red;
}

.techSection div p {
  font-size: var(--fs-500);
}

/* Edu & Gurus section */

.eduSection > h1, .techSection > h1 {
  max-width: 4.6em;
  width: 100%;
  text-align: right;
}

.eduSection div h2 {
  font-size: var(--fs-500);
}

.eduSection > div {
  display: flex;
  flex-direction: column;
  margin-left: 16em;
  padding: 1em;
  border: 1px solid red;
}

/* project preview page */

.title {
  font-size: var(--fs-700);
  text-align: center;
  margin: 1em;
}

.projectsGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: var(--gap, 2.5rem);
  max-width: 82rem;
  margin-inline: auto;
  padding-inline: 2em;
  padding-bottom: 2rem;
}

.projectPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  border-radius: 20px;
  border: 1px solid white;
}

/* all links in projectPreview */
.projectPreview *, .projectSection > a {
  color: hsl( var(--clr-white) / 1);
}

.projectPreview *:where(:not(:nth-child(-n + 2))) {
  margin-bottom: 1.2rem;
}

.projectPreview h2 {
  font-size: var(--fs-600);
  font-weight: bold;
  margin-bottom: 1em;
}

.projectPreview > a > * {
  margin-bottom: 1em;
}

.thumbnail {
  border-radius: 20px;
  max-height: 16em;
}

.projectPreview h2 > a:hover,
.projectPreview h2 > a:focus {
  color: hsl( var(--clr-dark) );
  background-color: hsl( var(--clr-white) / .9 );
  border-radius: 18px;
  padding-inline: 1em;
}

.projectPreview > p a:hover,
.projectSection > a > p span:hover,
.projectPreview > p a:focus,
.projectSection > a > p span:focus {
  color:hsl( var(--clr-light) );
  border-bottom: 2px solid hsl( var(--clr-white) );
}

/* single project page */

.projectSection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-inline: 5em;
}

.projectSection > div > p {
  text-align: center;
  align-self: center;
  margin-left: 1.5em;
  font-size: var(--fs-500);
}

.projectImage {
  border-radius: 20px;
  padding: 2em;
  max-width: 55rem;
}

/* button round style */

.bigButton {
  position: relative;
  z-index: 1;
  background-color: hsl( var(--clr-white) );
  display: inline-grid;
  place-items: center;
  padding: 0 auto;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  margin-inline: 1.4em;
}

.bigButton a {
  color:rgb(41, 173, 235);
  font-weight: bold;
}

.bigButton::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: hsl( var(--clr-white) / .15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.bigButton:hover {
  transform: rotate(-30deg);
}

.bigButton:hover::after,
.bigButton:focus::after {
  opacity: 1;
  transform: scale(1.4);
}