.body {
  margin: 0;
  height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
  font-size: 6.8rem;
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  border-radius: 30px;
  padding: 20rem;
}

.homepageText {
  /* text-align: center; */
  align-self: center;
  padding: 0;
}

.projectPreview {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}